<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings for H2 -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:chatApp</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Other Hibernate properties -->

        <!-- Specify annotated classes -->
        <mapping package="com.example.chatApp.domain"/>
        </session-factory>
</hibernate-configuration>
